
  {% render 'gp-head', isThemeSection: true %}
  
  <style>
    .gps-487250525180396465 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-487250525180396465 .pointer-events-none{pointer-events:none}.gps-487250525180396465 .pointer-events-auto{pointer-events:auto}.gps-487250525180396465 .relative{position:relative}.gps-487250525180396465 .mx-auto{margin-left:auto;margin-right:auto}.gps-487250525180396465 .mb-0{margin-bottom:0}.gps-487250525180396465 .inline-block{display:inline-block}.gps-487250525180396465 .flex{display:flex}.gps-487250525180396465 .grid{display:grid}.gps-487250525180396465 .h-full{height:100%}.gps-487250525180396465 .w-full{width:100%}.gps-487250525180396465 .max-w-full{max-width:100%}.gps-487250525180396465 .flex-col{flex-direction:column}.gps-487250525180396465 .gap-y-0{row-gap:0}.gps-487250525180396465 .overflow-hidden{overflow:hidden}.gps-487250525180396465 .align-middle{vertical-align:middle}.gps-487250525180396465 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487250525180396465 .duration-200{transition-duration:.2s}.gps-487250525180396465 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487250525180396465 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-487250525180396465 .\[\&_p\]\:inline p{display:inline}.gps-487250525180396465 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-487250525180396465 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gv9T2-T7x6"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gv9T2-T7x6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gX5gnErhe_ relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gixCvAAzUP"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gixCvAAzUP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giX9mpUqko relative flex flex-col"
    >
      <div style="--mt:60px;--ml:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g8EsKXXPJn ">
      
    <div
      pageContext parentTag="Col"
        class="g8EsKXXPJn "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        <p>Belangrijke specificaties</p>
        </h2>
      </div>
    </div>
      </div>
      
      
    <div
      pageContext parentTag="Col" id="gw6xwEhLAp"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gw6xwEhLAp mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBRkVZ6HDa relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g8dbsUe6QJ"
        style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8dbsUe6QJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJHekqFZ5i relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gqSBjnumd9 "
        style="--ta:left;--ml:0px;--mb:var(--g-s-l);--mr:0px;--ml-mobile:0px;--mb-mobile:var(--g-s-l);--mr-mobile:0px;--ml-tablet:0px;--mb-tablet:var(--g-s-l);--mr-tablet:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:300;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>IFRA - Gecertificeerd&nbsp;</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghRDWtx4rs relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g22Fl4_U0H "
        style="--ta:left;--ml:0px;--mb:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--ml-tablet:0px;--mb-tablet:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:300;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Diepe- en lange Geurwerking</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gQW5ve-xtB"
        style="--mb:var(--g-s-l);--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQW5ve-xtB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfO36Q5AjV relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gXfo3xsZ51 "
        style="--ta:left;--ml:0px;--mb:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--ml-tablet:0px;--mb-tablet:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:300;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Vrij van Parabenen</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggCzz7bQdC relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gfEo_W79fl "
        style="--ta:left;--ml:0px;--mb:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--ml-tablet:0px;--mb-tablet:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Alegreya-Sans, Alegreya Sans);--weight:300;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Vrij van Nikkel</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="glQfpdlAVQ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gT3_3w8p25"
    style="--mt:55px;--mb:0px;--mr:0px;--pl:0px;--mt-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pos:static;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "480432459918345013-7ce35f71-7147-4458-ae20-786f6d25f0aa.jpg" | asset_url }}" data-srcset="{{ '480432459918345013-7ce35f71-7147-4458-ae20-786f6d25f0aa.jpg' | asset_img_url: '768x768' }} 768w, {{ '480432459918345013-7ce35f71-7147-4458-ae20-786f6d25f0aa.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '480432459918345013-7ce35f71-7147-4458-ae20-786f6d25f0aa.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2500" height="1786" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "New test PP - Gempages"
      }
    ],
    
    "name": "New test PP - Gempages",
    "tag": "section",
    "class": "gps-487250525180396465 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=487250525180396465)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
