
  
  
  <style>
    .gps-486990011640579287 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-486990011640579287 .relative{position:relative}.gps-486990011640579287 .mx-auto{margin-left:auto;margin-right:auto}.gps-486990011640579287 .mb-0{margin-bottom:0}.gps-486990011640579287 .flex{display:flex}.gps-486990011640579287 .grid{display:grid}.gps-486990011640579287 .max-w-full{max-width:100%}.gps-486990011640579287 .flex-col{flex-direction:column}.gps-486990011640579287 .gap-y-0{row-gap:0}.gps-486990011640579287 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486990011640579287 .duration-200{transition-duration:.2s}.gps-486990011640579287 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486990011640579287 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486990011640579287 .\[\&_p\]\:inline p{display:inline}.gps-486990011640579287 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486990011640579287 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gtliaB45v1"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtliaB45v1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gr-68SNWOp relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVsHseVFUb"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVsHseVFUb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-mWmDls63 relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g1SWulNP_E ">
      
    <div
      parentTag="Col"
        class="g1SWulNP_E "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        Your heading text goes here
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-486990011640579287 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486990011640579287&template_id=486989017238209457)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
