
  
  
  <style>
    .gps-486964012089607383 .relative{position:relative}.gps-486964012089607383 .mx-auto{margin-left:auto;margin-right:auto}.gps-486964012089607383 .mb-0{margin-bottom:0}.gps-486964012089607383 .flex{display:flex}.gps-486964012089607383 .grid{display:grid}.gps-486964012089607383 .max-w-full{max-width:100%}.gps-486964012089607383 .flex-col{flex-direction:column}.gps-486964012089607383 .gap-y-0{row-gap:0}.gps-486964012089607383 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486964012089607383 .duration-200{transition-duration:.2s}.gps-486964012089607383 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486964012089607383 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzQ8jnWIo4"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzQ8jnWIo4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gOIcXIJCEd relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gz13GD13iW"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gz13GD13iW mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gPzfKaDagg relative flex flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-486964012089607383 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486964012089607383&template_id=486963860591346903)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
